html, body{
    height: 100%;
    margin:0%;
    padding: 0%;
}

.header{
    text-align: center;
    background-color: crimson;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 0;
    animation: SlideAndFadeIn 3s ease-in-out forwards;
}

@keyframes SlideAndFadeIn{

    from{
        opacity: 0;
        transform: translateY(-100px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}


.quiz-container {
    background-color: white;
}


.timer{
    text-align: center;
    background-color: black;
    color:white;
    width: 150px;
    margin: auto;
    font-size: 48px;
    margin: top :20px ;
} 

.progress-bar-container{
    height: 15px;
    background-color: black;
    margin-bottom: 15px;
}


.progress-bar-fill{
    height: 15px;
    background-color: chartreuse;
    width: 50%;
}





.option-btn{
    display: block;
    width: 50%;
    height: 40px;
    margin: auto;
    margin-bottom: 5 px ;
    cursor: pointer;
}

.option-btn:hover{
        background-color: aqua;
}

.question{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: cursive;
    color: skyblue;
}


































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































